body {
  font-family: roboto, poppins;
  color: #2e2f42;
}
.dark-bg {
  background-color: #2e2f42;
}
h1 {
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
}
button {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
  border-radius: 4px;
  background: var(--iris, #4d5ae5);
  box-shadow: rgba(0, 0, 0, 0.15);
}
address a:hover,
a:focus {
  color: black;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.address {
  color: #434455;
}
h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
}
h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}
p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.top-line-bg {
  background-color: #ffffff;
}
.navigation {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
a {
  text-decoration: none;
}
.logo {
  color: #4d5ae5;
  text-transform: uppercase;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
}

.footer-p {
  color: #f4f4fd;
}
